.mid {
  min-width: 375px;
  max-width: 600px;
}

.mid__brand {
  display: grid;
  row-gap: 1rem;
  padding: 1.5rem;
  align-self: center;
  justify-self: center;
  text-align: center;

}

h2 {
  font-size: 2rem;
}

.mid__detail {
  color: var(--grayish-blue);
}

.anchor {
  color: var(--very-dark-desat-blue);
  text-decoration: none;
  font-family: var(--ff-bold);
  pointer-events: none;
}

.mid__design {
  display:grid;
  grid-template-columns: 2rem auto auto auto 2rem;
  grid-template-rows: repeat(4,1fr);
  
}

.mid__pic, .mid__graphic{
  grid-row: 3/5;
}

.mid__pic{
  grid-column: 1/-1;
  grid-row: 1/-1;
  
}

.mid__graphic {
  grid-column: 2/4;
  
  color: var(--very-dark-desat-blue);
}



.mid__detail-design {
  color: var(--very-dark-desat-blue);
}

@media screen and (min-width: 600px) {
  .mid {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .mid-one {
    grid-area: 1/2/2/3;
  }
  .mid-two {
    grid-area: 1/1/2/2;
  }
  .mid-three {
    grid-area: 2/1/3/2;
  }
  .mid-four {
    grid-area: 2/2/3/3;
  }
  .mid-five {
    grid-area: 3/1/4/2;
    display:grid;
  }
  .mid-six {
    grid-area: 3/2/4/3;
    display:grid;
  }

  .mid-two, .mid-four{
    row-gap: .2rem;
    padding: .4rem;
  }

  .mid__graphic{
    display:none;
  }
  
}


  
