<div class="client">
  <div class="client__title">
    <h4>CLIENT TESTIMONIALS</h4>
  </div>

  <div class="client__section">
    <div class="client__comment">
      <img src="assets/images/image-emily.jpg" alt="" class="client__image" />
      <p class="client__say">
        We put our trust in Sunnyside and they delivered, making sure our needs
        were met and deadlines were always hit.
      </p>
      <p class="client__name">Emily R.</p>
      <p class="client__pos">Marketing Director</p>
    </div>
    <div class="client__comment">
      <img src="assets/images/image-thomas.jpg" alt="" class="client__image" />
      <p class="client__say">
        Sunnyside’s enthusiasm coupled with their keen interest in our brand’s
        success made it a satisfying and enjoyable experience.
      </p>
      <p class="client__name">Thomas S.</p>
      <p class="client__pos">Chief Operating Officer</p>
    </div>
    <div class="client__comment">
      <img src="assets/images/image-jennie.jpg" alt="" class="client__image" />
      <p class="client__say">
        Incredible end result! Our sales increased over 400% when we worked with
        Sunnyside. Highly recommended!
      </p>
      <p class="client__name">Jennie F.</p>
      <p class="client__pos">Business Owner</p>
    </div>
  </div>
</div>
