<div class="hero">
  <!-- mobile and desktop -->

  <section class="hero__section">
    <!-- <nav class="hero__popup">
      <button class="hero__btnpopup">About</button><button class="hero__btnpopup">Services</button><button class="hero__btnpopup">Projects</button>
    </nav> -->
    <picture class="hero__background">
      <source
        srcset="assets/images/desktop/image-header.jpg"
        media="(min-width:600px)"
      />
      <img
        src="assets/images/mobile/image-header.jpg"
        alt="header image"
        class="hero__mobile"
      />
    </picture>

    <nav class="hero__navbar">
      <img src="assets/images/logo.svg" alt="logo" class="hero__logo-mobile" />
      <button class="hero__button">
        <img
          src="assets/images/icon-hamburger.svg"
          alt="hamburger"
          class="hero__hamburger"
        />
      </button>
      <div class="hero__navbuttons">
        <button class="hero__navigations">About</button>
        <button class="hero__navigations">Services</button>
        <button class="hero__navigations">Projects</button>
        <button class="hero__contacts">Contacts</button>
      </div>
    </nav>

    <div class="hero__text">
      <h1 class="hero__title">We are creatives</h1>
      <img
        class="hero__arrow"
        src="assets/images/icon-arrow-down.svg"
        alt="arrow down"
      />
    </div>
  </section>
</div>
