<div class="hero">
  <!-- mobile and desktop -->

  <section class="hero__section">
    <picture class="hero__background">
      <source
        srcset="assets/images/desktop/image-header.jpg"
        media="(min-width:700px)"
      />
      <img
        src="assets/images/mobile/image-header.jpg"
        alt="header image"
        class="hero__mobile"
      />
    </picture>

    <nav class="hero__navbar">
      <img src="assets/images/logo.svg" alt="logo" class="hero__logo-mobile" />
      <button class="hero__button" (click)="onOpen()">
        <img
          src="assets/images/icon-hamburger.svg"
          alt="hamburger"
          class="hero__hamburger"
        />
      </button>
      <div class="hero__navbuttons">
        <button class="hero__navigations">About</button>
        <button class="hero__navigations">Services</button>
        <button class="hero__navigations">Projects</button>
        <button class="hero__contacts">Contacts</button>
      </div>
      <div *ngIf="popup === true" class="hero__nav-mobile">
        <div class="triangle"></div>
        <div class="hero__mobile-btn">
          <button class="hero__nav-btn">About</button>
          <button class="hero__nav-btn">Services</button>
          <button class="hero__nav-btn">Projects</button>
          <button class="hero__nav-contacts">Contact</button>
        </div>
      </div>
    </nav>

    <div class="hero__text">
      <h1 class="hero__title">We are creatives</h1>
      <img
        class="hero__arrow"
        src="assets/images/icon-arrow-down.svg"
        alt="arrow down"
      />
    </div>
  </section>
</div>
