<div class="pics">
  <picture class="pic__mobile">
    <source
      srcset="assets/images/desktop/image-gallery-milkbottles.jpg"
      media="(min-width:700px)"
    />
    <img
      src="assets/images/mobile/image-gallery-milkbottles.jpg"
      alt="milkbottles"
    />
  </picture>
  <picture class="pic__mobile">
    <source
      srcset="assets/images/desktop/image-gallery-orange.jpg"
      media="(min-width:700px)"
    />
    <img src="assets/images/mobile/image-gallery-orange.jpg" alt="orange" />
  </picture>
  <picture class="pic__mobile">
    <source
      srcset="assets/images/desktop/image-gallery-cone.jpg"
      media="(min-width:700px)"
    />
    <img src="assets/images/mobile/image-gallery-cone.jpg" alt="cone" />
  </picture>
  <picture class="pic__mobile">
    <source
      srcset="assets/images/desktop/image-gallery-sugarcubes.jpg"
      media="(min-width:700px)"
    />
    <img
      src="assets/images/mobile/image-gallery-sugar-cubes.jpg"
      alt="sugar-cubes"
    />
  </picture>
</div>
